body{
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.mainContainer{
display: flex;
flex-direction: column;
height: 100vh;
overflow: hidden;
}

.mainContainer > main{
  height: 100%;
  overflow-y: scroll;
}

.mainContainer > footer{
background-color: red;
padding: 10px;

}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(237, 237, 238);
  border-bottom: 1px solid grey;
  box-shadow: 1px 1px gray;
}

.navbar > li {
  display: flex;
  align-items: center;

}


.logo{
  height: 70px;
}


.button{
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;

}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
  
}

.mainButton{
  background-color: #1bb76e;
  color: white;
  
  
  
}

.mainButton:hover{
  
  box-shadow: 2px 2px green;
}

.secondaryButton{
  background-color: #2d305a;
  color: white;
 
  
}

.secondaryButton:hover{
  cursor: pointer;
  box-shadow: 2px 2px rgb(8, 2, 36);
}
.buscar{
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: space-between;

}

.buscar:focus-within{
  border: 1px solid blue;
}

.buscar > input{
  border: 0px;
  outline: none;
}

.iconoBusqueda:hover{
  color: blue;

}

.tituloPrincipal{
  text-align: center;
  color: grey;
  font-weight: bolder;
}

.breedCardContainer{
  display: flex;
}

.breedCard{
  margin: 10px;
  background-color: rgb(78, 78, 90);
  box-shadow: 5px 10px 5px rgb(231, 231, 231);
  border-radius: 10px;
}

.breedTitle{
  color: white;
  margin: 10px;
  font-weight: bold;
  font-size: x-large;
  border-radius: 10px;
}

.breedTitleComment{
  color: white;
  margin: 10px;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}
.contenedorImagen{
  width: 240px;
  height: 350px;
  display: flex;
  margin-bottom: 10px;
}

.contenedorImagen:hover{
  cursor: pointer;
  transform: scale(1.02);
}
.contenedorImagen > img{
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.heartRed{
  color: rgb(202, 114, 114);
  letter-spacing: 5px;
  
}

.commentwhite{
  color: white;
  letter-spacing: 5px;
}

.espacio{
  padding: 10px;
  
}
